# .gitignore file for ECE 558 Project 1

$ cat .gitignore

# skip everything in /docs
# these are just PDFs and Word files

/docs/*

# skip over .idea folder
# this is IntelliJ project management

/.idea/*

# skip any .iml file used by IntelliJ

/*.iml